.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure {
  display: grid;
  font-size: 13px;
  > div {
    margin: 0 0 -1px -1px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
