.body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) mobile(padding) auto mobile(padding) minmax(auto, 1fr);
  grid-template-rows: auto 1fr auto;
}

.controls {
  grid-area: 1/1/4;
  align-self: flex-end;
  justify-self: flex-end;
}

.board {
  grid-area: 1/3/4;
}

.info {
  grid-area: 1/5;
}

.button {
  grid-area: 3/5;
}
